[Desktop Entry]
Name=DrawX
GenericName=Whiteboard
Comment=Offline-first brainstorming and whiteboard app
Exec=drawx
Icon=com.pmustafi.drawx
Terminal=false
Type=Application
Categories=Graphics;Utility;
Keywords=whiteboard;drawing;diagram;brainstorm;excalidraw;
StartupNotify=true
StartupWMClass=drawx
DBusActivatable=false
