.excalidraw {
  --theme-filter: none;
  --default-bg-color: #fff;
  --input-bg-color: #fff;
  --island-bg-color: #ffffff;
  --island-bg-color-alt: #fff;
  --color-surface-high: #f1f0ff;
  --color-surface-mid: #f6f6f9;
  --color-surface-low: #ececf4;
  --color-surface-lowest: #ffffff;
  --color-on-surface: #1b1b1f;
  --color-brand-hover: #5753d0;
  --color-on-primary-container: #030064;
  --color-surface-primary-container: #e0dfff;
  --color-brand-active: #4440bf;
  --color-border-outline: #767680;
  --color-border-outline-variant: #c5c5d0;
  --color-primary: #6965db;
  --color-primary-darker: #5b57d1;
  --color-primary-darkest: #4a47b1;
  --color-primary-light: #e3e2fe;
  --color-primary-hover: #5753d0;
  --text-primary-color: var(--color-on-surface);
  --default-border-color: var(--color-surface-high);
  --color-gray-10: #f5f5f5;
  --color-gray-20: #ebebeb;
  --color-gray-30: #d6d6d6;
  --color-gray-40: #b8b8b8;
  --color-gray-50: #999999;
  --color-gray-60: #7a7a7a;
  --color-gray-70: #5c5c5c;
  --color-gray-80: #3d3d3d;
  --color-gray-85: #242424;
  --color-gray-90: #1e1e1e;
  --color-gray-100: #121212;
  --color-danger: #db6965;
  --color-danger-text: black;
  --color-danger-background: #fff0f0;
  --color-success-text: #268029;
  --color-warning: #fceeca;
  --color-warning-dark: #f5c354;
  --color-disabled: var(--color-gray-40);
  --color-muted: var(--color-gray-30);
  --color-muted-darker: var(--color-gray-60);
  --color-logo-text: #190064;
  --color-badge: #0b6513;
  --background-color-badge: #d3ffd2;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --button-hover-bg: var(--color-surface-high);
  --button-active-bg: var(--color-surface-high);
  --button-active-border: var(--color-brand-active);
  --icon-fill-color: var(--color-on-surface);

  &.theme--dark {
    --theme-filter: none;
    --default-bg-color: #121212;
    --input-bg-color: #121212;
    --input-border-color: #2e2e2e;
    --island-bg-color: #232329;
    --island-bg-color-alt: hsl(240, 12%, 12%);
    --color-surface-high: #2e2d39;
    --color-surface-mid: hsl(240 6% 10%);
    --color-surface-low: hsl(240, 8%, 15%);
    --color-surface-lowest: hsl(0, 0%, 7%);
    --color-on-surface: #e3e3e8;
    --color-brand-hover: #bbb8ff;
    --color-on-primary-container: #e0dfff;
    --color-surface-primary-container: #403e6a;
    --color-brand-active: #d0ccff;
    --color-border-outline: #8e8d9c;
    --color-border-outline-variant: #46464f;
    --color-primary: #a8a5ff;
    --color-primary-darker: #b2aeff;
    --color-primary-darkest: #beb9ff;
    --color-primary-light: #4f4d6f;
    --color-primary-hover: #bbb8ff;
    --text-primary-color: var(--color-on-surface);
    --default-border-color: var(--color-surface-high);
    --color-gray-10: #f5f5f5;
    --color-gray-20: #ebebeb;
    --color-gray-30: #d6d6d6;
    --color-gray-40: #b8b8b8;
    --color-gray-50: #999999;
    --color-gray-60: #7a7a7a;
    --color-gray-70: #5c5c5c;
    --color-gray-80: #3d3d3d;
    --color-gray-85: #242424;
    --color-gray-90: #1e1e1e;
    --color-gray-100: #121212;
    --color-danger: #ffa8a5;
    --color-danger-text: #fbcbcc;
    --color-danger-background: #fbcbcc;
    --color-success-text: #268029;
    --color-warning: #fceeca;
    --color-warning-dark: #f5c354;
    --color-disabled: var(--color-gray-70);
    --color-muted: var(--color-gray-80);
    --color-muted-darker: var(--color-gray-60);
    --color-logo-text: #e2dfff;
    --color-badge: #0b6513;
    --background-color-badge: #d3ffd2;
    --button-hover-bg: var(--color-surface-high);
    --button-active-bg: var(--color-surface-high);
    --button-active-border: var(--color-brand-active);
    --icon-fill-color: var(--color-on-surface);
  }
}
